<manifest xmlns:android="http://schemas.android.com/apk/res/android">
    <application
        android:allowBackup="false"
        android:icon="@drawable/ic_launcher"
        android:label="Qwen3 0.6B HTP Demo"
        android:roundIcon="@drawable/ic_launcher"
        android:theme="@style/AppTheme">
        <uses-native-library android:name="libcdsprpc.so" android:required="false" />
        <uses-native-library android:name="libadsprpc.so" android:required="false" />

        <provider
            android:name="androidx.core.content.FileProvider"
            android:authorities="${applicationId}.fileprovider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/file_paths" />
        </provider>

        <activity
            android:name=".MainActivity"
            android:exported="true"
            android:icon="@drawable/ic_launcher"
            android:label="Qwen3 0.6B HTP Demo">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>
</manifest>
